{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>About</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo+Narrow">
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md" style="background: #1b1b1b;">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navcol-1"></div>
            <h1 style="color: rgb(228,33,68);margin-left: 550px;"><strong>NETFLIX</strong></h1>
        </div>
    </nav>

    <div class="media"><img src="\static\img\myqr.png" class="mr-3">
        <div class="media-body">
            <h5><strong> You can use this QR Code to Login into Netflix.</strong></h5>
            <p><strong><br>At Netflix, we want to entertain the world.<br> 
                Whatever your taste, and no matter where you live, we give you access to best-in-class TV shows, movies and documentaries.<br> 
                Our members control what they want to watch, when they want it, with no ads, in one simple subscription.<br> 
                We’re streaming in more than 30 languages and 190 countries, because great stories can come from anywhere and be loved everywhere.<br> 
                We are the world’s biggest fans of entertainment, and we’re always looking to help you find your next favorite story.</strong></p>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>