{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>netflix</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md" style="background: #262424;">
        <div class="container-fluid"><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span></button>
            <div class="collapse navbar-collapse" id="navcol-1"></div>
            <h1 style="color: rgb(252,43,93);margin-right: 650px;"><strong>NETFLIX</strong></h1>
 </div>
 </nav>
 <div>
 <video width="800" height="600" controls>
    <source src="\static\video\sample.mp4" type="video/mp4" autoplay>
    Your browser does not support the video tag.
  </video>
 </div>
 </body>